doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Chokidar
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-3.3.5.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/modernizr-2.8.3.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Chokidar
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/sensor') Sensor
    .container.body-content
      block content
      hr
      footer
        p &copy; #{year} - Chokidar for lkhome

    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/bootstrap-3.3.5.min.js')
    script(src='/javascripts/respond-1.4.2.min.js')

    block scripts
